@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  margin: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  --slack-color: #3f0f40;
  overflow: hidden;
  margin: 0;
}
